<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="/fragments/head :: head"></th:block>
</head>
<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

		<th:block th:include="/fragments/menu :: menu"></th:block>


		<div id="fh5co-main">
			<th:block th:include="/fragments/menu2 :: menu2"></th:block>
 

			<div class="fh5co-narrow-content">
				<h1 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">Srervice</h1>
<div class="myForm">

					<div class="row animate-box" data-animate-effect="fadeInLeft">
						<div class="col-md-4 col-sm-4 col-xs-4 text-center">
							<a data-toggle="modal" data-target="#exampleModal"
								data-whatever="@mdo"><span>Ajouter Nouveau Service </span> <i
								class="icon-long-arrow-right"></i></a>
						</div>
					</div>

					<form th:action="@{saveService}" method="post"
						th:object="${service}">
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Service</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									 
										<div class="form-group">
 											<input type="text" class="form-control" id="name" name="name"
												placeholder="Nom" th:field="*{name}" required /> <span></span>
										</div>
										 
										 
<!-- 										<div class="form-group"> -->
											 
<!-- 										<select th:field="*{mytask.id}" class="form-control"> -->
<!-- 											<option th:each="t: ${mytasks}" th:value="${t.id}" -->
<!-- 												th:text="${t.name}" required></option> -->
<!-- 										</select> <span></span> -->
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Enregistré</button>

									</div>



								</div>
							</div>
						</div>
					</form>
				</div>

</div>
<div class="fh5co-narrow-content">
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft"> Liste des Srervice</h2>




			<div class="panel-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
						 
							<th>Nom</th>
							<th>typetask</th>

							<th>Next Id Task</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${services}">
							<td th:text="${c.id}"></td>
 							<td th:text="${c.name}"></td>
					 	<td th:text="${c.sousdirection.name}"></td>
							 
							<!-- 						
	<td th:text="${c.typemodel}"></td> -->
							<td><a> <i class="fa fa-edit"
									style="font-size: 21 px; color: blue;"></i></a> <a> <i
									class="fa fa-trash" style="font-size: 21 px; color: red;"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

 			</div>
		</div>
	</div>







	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="js/main.js"></script>
</body>
</html>

