
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="/fragments/head :: head"></th:block>

</head>
<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

		<th:block th:include="/fragments/menu :: menu"></th:block>

		<div id="fh5co-main">
			<th:block th:include="/fragments/menu2 :: menu2"></th:block>

<!--################### SOUS DIRECTION #####################"" -->

			<div class="fh5co-narrow-content">
				<h1 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">Sous-Direction</h1>

				<div class="myFormSous-Direction">

					<div class="row animate-box" data-animate-effect="fadeInLeft">
						<div class="col-md-4 col-sm-4 col-xs-4 text-center">
							<a data-toggle="modal" data-target="#exampleModal8"
								data-whatever="@mdo8"><span>Ajouter Nouveau Sous-Direction </span> <i
								class="icon-long-arrow-right"></i></a>
						</div>
					</div>

					<form th:action="@{saveSousDirection}" method="post"
						th:object="${sousdirection}">
						<div class="modal fade" id="exampleModal8" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Service</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										 

										<div class="form-group">
											<!-- 										<label class="control-label">Nom:</label>  -->
											<input type="text" class="form-control" id="name" name="name"
												placeholder="Nom" th:field="*{name}" required /> <span></span>
										</div>
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Enregistré</button>

										</div>

									</div>
								</div>
							</div>
							</div>
					</form>
				</div>
 
	</div>


	<div class="fh5co-narrow-content">
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">Liste des Sous-Direction</h2>




			<div class="panel-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
						 
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${sousdirections}">
							<td th:text="${c.id}"></td>
							<td th:text="${c.name}"></td>
						 
 
							<td><a> <i class="fa fa-edit"
									style="font-size: 21 px; color: blue;"></i></a> <a> <i
									class="fa fa-trash" style="font-size: 21 px; color: red;"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
		







<!--################### SERVICE #####################"" -->









			<div class="fh5co-narrow-content">
				<h1 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">Service</h1>

				<div class="myForm">

					<div class="row animate-box" data-animate-effect="fadeInLeft">
						<div class="col-md-4 col-sm-4 col-xs-4 text-center">
							<a data-toggle="modal" data-target="#exampleModal"
								data-whatever="@mdo"><span>Ajouter Nouveau Service </span> <i
								class="icon-long-arrow-right"></i></a>
						</div>
					</div>

					<form th:action="@{saveService}" method="post"
						th:object="${service}">
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Service</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										 

										<div class="form-group">
											<!-- 										<label class="control-label">Nom:</label>  -->
											<input type="text" class="form-control" id="name" name="name"
												placeholder="Nom" th:field="*{name}" required /> <span></span>
										</div>
										<div class="form-group">
											<select th:field="*{sousdirection.id}" class="form-control">
												<option th:each="t: ${sousdirections}" th:value="${t.id}"
													th:text="${t.name}" required></option>
											</select> <span></span>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Enregistré</button>

										</div>

									</div>
								</div>
							</div>
							</div>
					</form>
				</div>
 
	</div>


	<div class="fh5co-narrow-content">
			<h2 class="fh5co-heading animate-box"
				data-animate-effect="fadeInLeft">Liste des Srervice</h2>




			<div class="panel-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Sous-Direction</th>
 
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${services}">
							<td th:text="${c.id}"></td>
							<td th:text="${c.name}"></td>
							<td th:text="${c.sousdirection.name}"></td>

							<!-- 						
	<td th:text="${c.typemodel}"></td> -->
							<td><a> <i class="fa fa-edit"
									style="font-size: 21 px; color: blue;"></i></a> <a> <i
									class="fa fa-trash" style="font-size: 21 px; color: red;"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>


</div>






	<!-- jQuery -->
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"
		th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Carousel -->
	<script src="../static/js/owl.carousel.min.js"
		th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- Stellar -->
	<script src="../static/js/jquery.stellar.min.js"
		th:src="@{/js/jjquery.stellar.min.js}"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"
		th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Counters -->
	<script src="../static/js/jquery.countTo.js"
		th:src="@{/js/jquery.countTo.js}"></script>


	<!-- MAIN JS -->
	<script type="text/javascript" th:src="@{/js/main.js}"
		src="../static/js/main.js}"></script>

</body>
</html>

